.cover {
    margin: 0 auto;
    width: calc(100% - 96px);
    height: 50%;
    background-image: url(../../images/cover-trains.jpg);
    background-color: #2A2C2F;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 60%;
      } 
}